.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
    font-weight: 100;
}

.stats .grid h3{
    font-size: 35px;
    font-weight: 200;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}